# Practice Problem 2.1

In [1]:
# (a) The sum of the first five positive integers.
n = int(input("Enter Number"))
cal = (n*(n+1)/2)
print(cal)

Enter Number5
15.0

In [2]:
# (b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31).
sara = (23)
mark = (19)
fatima = (31)
cal = (sara+mark+fatima/3)
print("The average age is: " + " " + str(cal))

The average age is:  52.333333333333336

In [3]:
# (c) The number of times 73 goes into 403.
cal = (403//73)
print("The number of times 73 goes into 403 is: " + " " + str(cal))

The number of times 73 goes into 403 is:  5

In [4]:
# (d) The remainder when 403 is divided by 73.
cal = (403%73)
print("The remainder when 403 is divided by 73 is: " + " " + str(cal))

The remainder when 403 is divided by 73 is:  38

In [5]:
# (e) 2 to the 10th power.
cal = (2**10)
print("2 to the 10th power is: " + " " + str(cal))

2 to the 10th power is:  1024

In [6]:
# (f) The absolute value of the difference between Sara’s height (54 inches) and Mark’s height (57 inches).
sara = (54)
mark = (57)
diff = (mark-sara)
abs(diff)

3

In [7]:
# (g) The lowest price among the following prices: $34.99, $29.95, and $31.50.
price = [34.99, 29.95, 31.50]
min(price)

29.95

# Practice Problem 2.2

In [8]:
# (a) The sum of 2 and 2 is less than 4.
x = (2+2)
y = (4)
x < y

False

In [9]:
# (b) The value of 7 // 3 is equal to 1 + 1.
x = (7//3)
y = (1+1)
x == y

True

In [10]:
# (c) The sum of 3 squared and 4 squared is equal to 25.
x = (3**2+4**2)
y = (25)
x == y

True

In [11]:
# (d) The sum of 2, 4, and 6 is greater than 12.
x = (2+4+6)
y = (12)
x > y

False

In [12]:
# (e) 1387 is divisible by 19.
n = (1387 % 19)
n == 0

True

In [13]:
# (f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)
(31%2) == 0

False

In [14]:
# (g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00. 
low_price = [34.99,29.95,31.50]
min(low_price) < 30.00

True

# Practice Problem 2.3

In [15]:
a = (3)
b = (4)
c = (a*a+b*b)
print(str(c))

25

# Practice Problem 2.4

In [16]:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'

In [17]:
# (a) 'ant bat cod'
s1 +" "+ s2 +" "+ s3

'ant bat cod'

In [18]:
# (b) 'ant ant ant ant ant ant ant ant ant ant '
'ant '*10

'ant ant ant ant ant ant ant ant ant ant '

In [19]:
# (c) 'ant bat bat cod cod cod'
s1 + " " + s2*2 + " " + s3*3

'ant batbat codcodcod'

In [20]:
# (d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
'ant bat '*7

'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '

In [21]:
# (e) 'batbatcod batbatcod batbatcod batbatcod batbatcod ' 
s2*2+s3 +" "+s2*2+s3 +" "+s2*2+s3+" "+s2*2+s3+" "+s2*2+s3

'batbatcod batbatcod batbatcod batbatcod batbatcod'

# Practice Problem 2.5

In [22]:
s = '0123456789'

In [23]:
# (a) '0'
s[0]

'0'

In [24]:
# (b) '1'
s[1]

'1'

In [25]:
# (c) '6'
s[6]

'6'

In [26]:
# (d) '8'
s[8]

'8'

In [27]:
# (e) '9'
s[9]

'9'

# Practice Problem 2.6

In [28]:
words = ['bat', 'ball', 'barn', 'basket', 'badminton']

In [29]:
# Evaluate first
words[0]

'bat'

In [30]:
# Evaluate last
words[-1]

'badminton'

In [31]:
# Respectively
words

['bat', 'ball', 'barn', 'basket', 'badminton']

In [32]:
#words in dicyionary order
list(words)

['bat', 'ball', 'barn', 'basket', 'badminton']

In [33]:
# Word in words
'word' in words

False

# Pravtice Problem 2.7

In [34]:
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]

In [35]:
# Evaluates no. of 7 grades.
grades.count(7)

2

In [37]:
#Last grade to 4.
grades.insert(9,4)
grades

[9, 7, 7, 10, 3, 9, 6, 6, 2, 4, 4]

In [38]:
# Evaluate maximum grade
max(grades)

10

In [39]:
#Sort the list catagory
grades.sort()
grades

[2, 3, 4, 4, 6, 6, 7, 7, 9, 9, 10]

In [40]:
#Evaluate average grade
sum(grades)/len(grades)

6.090909090909091

# Practice Problem 2.8

In [6]:
#(a) 2 + 3 == 4 or a >= 5
a = int(input('Enter no.: '))
((2 + 3) == 4) or (a >= 5)

Enter no.: 5

True

In [8]:
#(b) lst[1] * -3 < -10 == 0
lst = [1,2,3]
((lst[1]) * (-3)) < (-10) == 0

False

In [1]:
#(d) 2 * 3**2
2 * (3**2)

18

In [2]:
#(e) 4 / 2 in [1, 2, 3]
(4 / 2) in [1, 2, 3]

True

In [1]:
#(c) (lst[1] * -3 < -10) in [0, True]
lst = [9,7,7,10,3,9,6,6,2]
(((lst[1])*(-3))<(-10))in[0,True]

True

# Practice Problem 2.9

In [2]:
#(a) False + False
a = False + False
print(type(a))

<class 'int'>

In [3]:
#(b) 2 * 3**2.0
a = (2 * (3**2.0))
print(type(a))

<class 'float'>

In [4]:
#(c) 4 // 2 + 4 % 2
a = ((4//2) + (4%2))
print(type(a))

<class 'int'>

In [5]:
#(d) 2 + 3 == 4 or 5 >= 5
a = (2 + 3 == 4 or 5 >= 5)
print(type(a))

<class 'bool'>

# Pracrice Problem 2.10

In [6]:
a = 3
b = 4
r = 2
x = 7
y = 8

In [8]:
import math

In [9]:
#(a) The length of hypontenuse in right angkled triangle whose two side have length is a and b.
math.sqrt(a**2) + (b**2)

19.0

In [10]:
#(b) The length of hypontenuse is 5.
math.sqrt(a**2 + b**2) == 5

True

In [11]:
#(c) The area of disk of radius a.
math.pi * a**2

28.274333882308138

In [13]:
#(d) The value of boolean expression that shows the coordinate (x,y) is inside whose centre (a,b) of radius r.
(x-a)**2 + (y-b)**2 < r**2

False