# EX 2.11
Write python program corresponding to these statement:

In [2]:
#(a) The sum of negative integers -7 through -1.
calculation = (-7-6-5-4-3-2-1)
print(calculation)

-28

In [4]:
#(b) The average of group kids at a summer camp givem that 17 are 19yrs, 24 are 10 yrs, 21 are 11 yrs, 27 are 12 yrs.
_19yrs = 17
_10yrs = 24
_11yrs = 21
_12yrs = 27
avg = (_19yrs + _10yrs + _11yrs + _12yrs)/4
print("The average of students are", avg)

The average of students are 22.25

In [3]:
#(c) 2 to the power -20
calculation = (2**-20)
print(calculation)

9.5367431640625e-07

In [5]:
#(d) The no. of times 61 goes into 4356.
calculation = (4356 //61) 
print(calculation)

71

In [6]:
#(e) The reminder when 4365 is divided by 61.
calculation = (4365 % 61)
print(calculation)

34

# EX 2.12
Start by evaluating, in the interactive shell, the assignment:                  >>> s1 = '_'                                                                   >>> s2 = ' +'                                                                 Now write string expressions involving s1 & s2 operators that evaluate to:        Try  to make your string expressions assuccinctnas you can.

In [15]:
s1 = ('-')
s2 = ('+')

In [16]:
#(a) '-+'
s1 +s2

'-+'

In [17]:
#(b) '-+-'
s1 + s2 + s1

'-+-'

In [18]:
#(c) '+--'
s2 + (s1 * 2)

'+--'

In [19]:
#(d) '+--+--'
(s2 + (s1 * 2))

'+--'

In [21]:
#(e) '+––+––+––+––+––+––+––+––+––+––+'
(s2 + (s1 * 2)) * 10 + s2

'+--+--+--+--+--+--+--+--+--+--+'

In [22]:
#(f) '+–+++––+–+++––+–+++––+–+++––+–+++––'
(s2 + s1 + (s2 * 3) + (s1 * 2)) * 5

'+-+++--+-+++--+-+++--+-+++--+-+++--'

# EX 2.13
Start by running, intheshell, the following assignment  statement:

### >>> s = 'abcdefghijklmnopqrstuvwxyz'

Now write expressions using string s and the indexing operator that evaluate to 'a', 'c', 'z','y',and'q'.

In [9]:
s = ['a','b','c','d','e','f','g','h', 'i','j','k','l','m','n','o','p','q', 'r','s','t','u', 'v', 'w', 'x', 'y', 'z']

In [10]:
s[0]

'a'

In [11]:
s[2]

'c'

In [12]:
s[-1]

'z'

In [13]:
s[-2]

'y'

In [14]:
s[-10]

'q'

# EX 2.14
s = 'goodbye' :                                                                 The write a Boolean expression that checks whether:

In [7]:
s = 'goodbye'
s1 = ['g', 'o', 'o','d','b', 'y','e']

In [3]:
#(a) The ﬁrst character of strings is 'g'
'g' in s

True

In [38]:
#(b) The  seventh character of s is 'g'.
s[6] == 'g'

False

In [18]:
#(c) The ﬁrst two characters of s are 'g' and 'a'.
s[0] == 'g'

True

In [19]:
#(d) The next to last character of s is'x' 
s[1] == 'a'

False

In [29]:
#(e) The middle character of s is'd' 
cal = (((len(s)) - 1)/2)
s[int(cal)] == 'd'

True

In [30]:
#(f) The ﬁrst and last characters of strings are equal.
s[0] == s[-1]

False

In [31]:
#(g) The last four characters of strings match the string 'tion' [Note:These seven statements should evaluate to True, False, False, False, True, False, and False, respectively.] 
s[-4]

'd'

In [32]:
s[-3]

'b'

In [33]:
s[-2]

'y'

In [34]:
s[-1]

'e'

# 2.15
Write Python expressions corresponding to the statements:

In [6]:
#(a) The number of characters in the word "anachronistically" is 1 more than then umber of characters in the word "counterintuitive."
a = ('anachronistically')
b = ('counterintuitive')
if len(a) > len(b):
    print(a+ 'is one more than  '+ b)
else: 
    print(False)

anachronisticallyis one more than  counterintuitive

In [35]:
#(b) The word "misinterpretation" appears earlier in the dictionary than the word "misrepresentation."
lst = ['misinterpretation' ,'misrepresentation ']
lst.sort()
lst

['misinterpretation', 'misrepresentation ']

In [81]:
#(c) The letter "e" does not appear in the word "ﬂoccinaucinihilipiliﬁcation."
"e" not in  "ﬂoccinaucinihilipiliﬁcation"

True

In [43]:
#(d) The number of characters in the word "counterrevolution" is equal to the sum of the number of characters in words "counter" and "resolution.".
a = ("counterrevolution")
b = ("counter")
c = ("resolution")
d = (b + c)
len(a) == len(d)

True

# EX 2.16
Write the corresponding Python assignment statements:

In [74]:
#(a) Assign 6 to variable a and 7 to variable b.       `
a = 6
b = 7

In [49]:
#(b) Assign to variable c the average of variables a and b.
c = (a +b)/2
c

6.5

In [63]:
#(c) Assign to variable in ventory the list containing strings 'paper','staples',and 'pencils'.
inventory = ['paper', 'staples', 'pencils']

In [56]:
#(d) Assign to variables first, middle and last the strings 'John', 'Fitzgerald', and'Kennedy'. 
first = ('John')
middle = ('Fitzgerald')
last = ('Kennedy')

In [64]:
#(e) Assign to variable fullname the concatenation of string variables first, middle, and last.Make sure you incorporate blank spaces appropriately. 
fullname = (first + " " + middle + " " + last)
fullname

'John Fitzgerald Kennedy'

# EX 2.17
Using variables deﬁnedin Exercise2.16, write Boole an expressions corresponding to the following logical statements and evaluate the expressions:

In [58]:
#(a) The sum of 17 and −9 is less than 10. 
(17 + (-9)) < 10

True

In [70]:
#(b) The length of list inventory is more than ﬁvetimes the length of string full name
len(inventory) > (len(fullname)*5)

False

In [71]:
#(c) c is no more than 24.
c < 24

True

In [75]:
#(d) 6.75 is between the values of integers a and b.
a < 6.75 < b

True

In [76]:
#(e) The length of string middle is larger than the length of string first and smaller than the length string last.
len(middle) > (len(first + last))

False

In [77]:
#(f) Either the list inventory is empty or it has more than 10 objects in it. 
if len(inventory) > 10:
    print(True)
else:
    print(False)

False

# EX 2.18

## Write Python statements corresponding to the following:

In [78]:
#(a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea', 'yucca','marigold','daylilly',and'lilly of the valley'.
flower = ['rose', 'bougainvillea', 'yucca','marigold','daylilly', 'lilly of the valley']

In [80]:
#(b) Write a Boolean expression that evaluates to True if string'potato' is in list flowers, and evaluate the expression.
'potato' not in flower

True

In [82]:
#(c) Assign to list thorny the sub list consisting of the ﬁrst three objects in list flowers
thorny = ['rose', 'bougainvillea', 'yucca']

In [83]:
#(d) Assign to list poisonous the sub list consisting of just the last object of list flowers.
poisonous = ['marigold','daylilly', 'lilly of the valley']

In [91]:
#(e) Assign to list dangerous the concatenation of lists thorny and poisonous.
dangerous = (thorny + poisonous) 
print(dangerous)

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']

# EX 2.19
Start by assigning to variable answers a list containing an arbitrary sequence of strings 'Y' and 'N'. For example: Write Python statements corresponding to the following:

 answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']

In [52]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']

In [101]:
#(a) Assign to variable numYes the number of occurrences of 'Y' in list answers.
numYes = answers.count('Y')
numYes

5

In [103]:
#(b) Assign to variable numNo the number of occurrences of 'N' in list answers.
numNO = answers.count('N')
numNO

6

In [106]:
#(c)Assign to variable percentYes the percentage of strings in answers that're'Y'
percentYes = (numYes/len(answers))*100
print(str(percentYes) + '%')

45.45454545454545%

In [110]:
#(d) Sort the list answers.
answers.sort()
print(answers)

['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

In [122]:
#(e) Assign to variable of the index of the ﬁrst occurrence of'Y'in sorted list answers.
f = sorted(answers)
f.insert(0, 'Y')
print(f)

['Y', 'N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']

# EX 2.20
Write an expression involving a three-letter string s that evaluates to a string whose characters are the characters of s in reverse order. If s is 'top', the expression should evaluateto'pot'.

In [130]:
s = ['t', 'o', 'p']
s.reverse()
print(s)

['p', 'o', 't']

# EX 2.21
 Write an expression involving strings s and t containing the last name and the ﬁrst name, respectively, of a person that evaluates to the person’s initials. If the two strings contained the ﬁrst and last name of this book’s author, the expression would evaluate to 'LP'.

In [1]:
s_las_name =('Perkovic')
t_fir_name =('Ljubomir')
print(t_fir_name + " " + s_las_name)

Ljubomir Perkovic

# EX 2.22

####  The range of a list of number s is the largest diﬀerence between any two numbers in the list.Write a Python expression that computes the range of a list of numbers lst. If the list lstis, say, [3, 7, -2, 12], the expression should evaluate to 14(the diﬀerence between 12 and−2).

In [1]:
lst = [3, 7, -2, 12]
maxi = max(lst)
mini = min(lst)
dif = maxi - mini
print("The largest difference is ", dif)

The largest difference is  14

# EX 2.23
Start by assigning to variables monthsL and monthsT a list and a tuple, respectively, both containing strings 'Jan', 'Feb', 'Mar', and 'May', in that order. Then attempt the following with both containers:  Note:when attempting these on tuple monthsT you should expect errors.

In [136]:
monthsL = ['Jan', 'Feb', 'Mar', 'May']
monthsT = ('Jan', 'Feb', 'Mar', 'May')

In [137]:
#(a) Insert string 'Apr'between'Mar'and'May'.
monthsL.insert(3, 'Apr')
monthsL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [138]:
#(a) Insert string 'Apr'between'Mar'and'May'.
monthsT.insert(3, 'Apr')
monthsT

AttributeError: 'tuple' object has no attribute 'insert'

In [139]:
#(b) Append  string 'Jun'
monthsL.append('Jan')
monthsL

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jan']

In [140]:
#(b) Append  string 'Jun'
monthsT.append('Jan')
monthsT

AttributeError: 'tuple' object has no attribute 'append'

In [141]:
#(c) Pop the container. 
monthsL.pop()
monthsL

['Jan', 'Feb', 'Mar', 'Apr', 'May']

In [142]:
#(c) Pop the container. 
monthsT.pop()
monthsT

AttributeError: 'tuple' object has no attribute 'pop'

In [150]:
#(d) Remove the second item in the container.
monthsL.remove('Feb')
monthsL

['Jan', 'Mar', 'Apr', 'May']

In [151]:
#(d) Remove the second item in the container.
monthsT.remove('Feb')
monthT

AttributeError: 'tuple' object has no attribute 'remove'

In [152]:
#(e) Reverse the order of items in the container. 
monthsL.reverse()
monthsL

['May', 'Apr', 'Mar', 'Jan']

In [153]:
#(e) Reverse the order of items in the container. 
monthsT.reverse()
monthsT

AttributeError: 'tuple' object has no attribute 'reverse'

In [154]:
# (f) Sort the container. 
monthsL.sort()
monthsL

['Apr', 'Jan', 'Mar', 'May']

In [155]:
# (f) Sort the container. 
monthsT.sort()
monthsT

AttributeError: 'tuple' object has no attribute 'sort'

# EX 2.24
Start by assigning to variable grades a list containing anarbitrary sequence of grades (strings) 'A', 'B', 'C', 'D', and 'F'. Forexample: 
Write a sequence of Python statements that ultimately produce a list count that contains the numbers of occurrences of each grade in list grades in alphabetic order.For the given example, the list count should be[4, 4, 2, 2, 1].

 grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']

In [156]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']

In [170]:
grades.sort()
a = grades.count('A')
b = grades.count('B')
c = grades.count('C')
d = grades.count('D')
f = grades.count('F')
print(a, b, c, d, f)

4 4 2 2 1

# EX 2.25
Repeat Problem 2.24 with the following modiﬁcation: variable grades is deﬁned to be of type tuple rather than of type list: Variable count should still refer to a list.

grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B')

In [173]:
grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B')

In [175]:
a = grades.count('A')
b = grades.count('B')
c = grades.count('C')
d = grades.count('D')
f = grades.count('F')
print(a,b,c,d,f)

4 4 2 2 1

# EX 2.26
A dartboard of radius 10 and the wall it is hanging on are represented using the two dimensional coordinate system, withtheboard’s center at coordinate(0,0). Variables x and y store the x- and y-coordinate of a dart hit. Write an expression using variables x and y that evaluates to True if the dart hits(is with in)the dartboard, and evaluate the expression for these dart coordinates:

In [1]:
rad = 10

In [10]:
#(a) (0,0) 
x = (0)
y = (0)
import math 
dis = math.sqrt(x**2 + y**2)
print(dis)
if dis <= rad:
    print('Hit')
else:
    print('Miss')

0.0
Hit

In [11]:
#(b) (10,10) 
x = (10)
y = (10)
import math 
dis = math.sqrt(x**2 + y**2)
print(dis)
if dis <= rad:
    print('Hit')
else:
    print('Miss')

14.142135623730951
Miss

In [12]:
#(c) (6,−6) 
x = (6)
y = (-6)
import math 
dis = math.sqrt(x**2 + y**2)
print(dis)
if dis <= rad:
    print('Hit')
else:
    print('Miss')

8.48528137423857
Hit

In [8]:
#(d) (−7,8) 
x = (-7)
y = (8)
import math 
dis = math.sqrt(x**2 + y**2)
print(dis)
if dis >= rad:
    print('Hit')
else:
    print('Miss')

10.63014581273465
Hit

# EX 2.27
A ladder put upright against a wall will fall over unless put up at a certain angle less than 90 degrees. Given variables length and angles to ring the length of the ladder and the angle that it forms with the ground as it leans against the wall, write a Python expression involving length and angle that computes the height reached by the ladder. Evaluate the expression for the s evalues of length and angle:

Note:You will need to use the trailge formula: 
height = length∗sin(angle)
The math module sin() function takes its input in radians. You will thus need to convert the angle given in degrees to the angle given in radians using:
radians = π∗degrees 180

In [16]:
#(a) 16 feet and 75 degrees 
length = (16)
deg = (75)
import math
radians = (math.pi/180)*deg
import math
height = length*math.sin(radians)
print(str(height) + 'ft')

15.454813220625093ft

In [17]:
#(b) 20 feet and 0 degrees 
length = (20)
deg = (0)
import math
radians = (math.pi/180)*deg
import math
height = length*math.sin(radians)
print(str(height) + 'ft')

0.0ft

In [19]:
#(c) 24 feet and 45 degrees 
length = (24)
deg = (45)
import math
radians = (math.pi/180)*deg
import math
height = length*math.sin(radians)
print(str(height) + 'ft')

16.970562748477143ft

In [20]:
#(d) 24 feet and 80 degrees
length = (24)
deg = (80)
import math
radians = (math.pi/180)*deg
import math
height = length*math.sin(radians)
print(str(height) + 'ft')

23.63538607229299ft

# EX 2.28
Write the relevant Python expression or statement, involving a list of numbers lst and using list operators and methods for these speciﬁcations: 
Note:If a list has even length, then the middle element is deﬁned to be the right most of the two elements in the middle of the list.

In [6]:
#(a) An expression that evaluates to the index of the middle element of lst
lst = [1,2,3,4,5,6,7,8,9,10]
cal = lst.index((len(lst))/2 + 1)
print(cal)

5

In [21]:
#(b) An expression that evaluates to the middle element of lst
lst = [1,2,3,4,5,6,7,8,9,10]
cal = (((len(lst))/2) + 1)
print(cal)

6.0

In [12]:
#(c) A statement that sorts the list lst in descending order
lst = [1,2,3,4,5,6,7,8,9,10]
lst.reverse()
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#(d) A statement that removes the ﬁrst number of list lst and puts it the end 
lst = [1,2,3,4,5,6,7,8,9,10]
lst.remove(1)
lst.append(1)
lst

# EX 2.29
Add one or more pairs of parentheses to each expression so that it evaluates to True.
For each expression, explainin what order the operators were evaluated.

In [54]:
#(a) 0==1==2
(0)==(1)==(2)

False

In [34]:
#(b) 2+3==4+5==7
(2+3) == (4+5) == 7

False

In [ ]:
#(c) 1<-1==3>4

# EX 2.30
 Using an example of your own, explicitly convert some string to a list. Describe, in your ownwords, the behavior of the list constructor on a string input.

In [51]:
lst = ('1 2 3 4 5 6 7 8 9 10 ')
lst.split()

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

# EX 2.31
 In this chapter we have covered some, but not all, methods of class list. Using the following interactive session as an aid, explain in your own words what the list methods extend(), copy(), and clear() do.

In [45]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [46]:
lst.extend('a')
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a']

In [47]:
lst.copy()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a']

In [48]:
lst.clear()
lst

[]